.formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 50px 0;
  border-top: 2px solid var(--line-color);
  background-color: var(--background-color);
}

.formation-title {
  width: 900px;
  box-sizing: border-box;
  font-size: 2rem;
  letter-spacing: 4px;
  border: 2px solid var(--line-color);
  background-color: var(--section-color);
  padding: 10px 40px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.formation-title.show,
.timeline.show {
  opacity: 1;
  transform: translateY(0);
}

.timeline {
  position: relative;
  width: 8px;
  height: 100%;
  margin: 30px auto 0 auto;
  border: 2px solid var(--line-color);
  background-color: var(--section-color);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.progress-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0%;
  background-color: var(--line-color);
  transition: height 0.1s linear;
}

.formation-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 421px;
  height: 100px;
  background-color: var(--section-color);
  border: 2px solid var(--line-color);
  color: var(--text-color);
  opacity: 0.3;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  margin: 30px 0;
}

.formation-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.formation-item.left {
  left: -446px;
  text-align: right;
  flex-direction: row;
}

.formation-item.right {
  left: 28px;
  text-align: left;
  flex-direction: row-reverse;
}

.formation-item::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 22px;
  height: 2px;
  background-color: var(--line-color);
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3 ease;
}

.formation-item.visible::before,
.formation-item.visible .year::before {
  opacity: 1;
}

.formation-item.left::before {
  right: -22px;
}

.formation-item.right::before {
  left: -22px;
}

.formation-item.left .year::before {
  left: -22px;
}

.formation-item.right .year::before {
  right: -22px;
}

.year {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 2rem;
  width: 100%;
}

.formation-item.left .year {
  left: calc(100% + 50px);
  text-align: left;
}

.formation-item.right .year {
  right: calc(100% + 50px);
  text-align: right;
}

.formation-img-wrapper {
  height: 100px;
  width: 150px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: white;
  border-left: 2px solid var(--line-color);
  border-right: 2px solid var(--line-color);
}

.formation-item.left .formation-img-wrapper {
  border-right: 2px solid var(--line-color);
  border-left: none;
}

.formation-item.right .formation-img-wrapper {
  border-left: 2px solid var(--line-color);
  border-right: none;
}

.formation-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.formation-text-container {
  height: auto;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formation-text-container h3 {
  font-weight: 600;
  font-size: 1.1rem;
}

.formation-text-container .location {
  font-size: 0.75rem;
}

.formation-text-container .details {
  font-size: 0.95rem;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  height: 100%;
  display: flex;
  align-items: center;
}

.formation-item.left .details {
  justify-content: flex-end;
}

.timeline-placeholder {
  width: 100%;
}