.formation {
  position: relative;
  padding: 50px 0;
  /* height: 200vh; */
  border-top: 2px solid var(--line-color);
  background-color: var(--background-color);
  /* overflow: hidden; */
}

/* .formation.fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9;
  overflow: hidden;
} */

.timeline {
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  background: #ccc;
}

.progress-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0%;
  background: black;
  transition: height 0.1s linear;
}

.formation-item {
  position: relative;
  width: 300px;
  padding: 10px 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 40px 0;
  opacity: 0.5;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.formation-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.formation-item.left {
  left: -380px;
  /* distance à gauche de la timeline */
  text-align: right;
}

.formation-item.right {
  left: 40px;
  /* distance à droite de la timeline */
  text-align: left;
}

.formation-item span {
  font-weight: bold;
  display: block;
}

.formation-item p {
  margin: 0;
  font-size: 0.9em;
}

.timeline-placeholder {
  width: 100%;
}