.home {
  position: relative;
}

.background-image-container {
  width: 100%;
  background-color: var(--background-color);
}

.background-image {
  width: 100%;
  filter: blur(1px);
}

.terminal {
  position: absolute;
  top: 200px;
  left: calc(50% - 300px);
  width: 600px;
  height: 250px;
  background-color: var(--background-color);
  border: 2px solid var(--line-color);
  color: var(--text-color);
  font-size: 18px;
  white-space: pre-line;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  animation: growTerminal 1s ease-out forwards;
}

@keyframes growTerminal {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#text {
  display: inline-block;
  white-space: pre-line;
  line-height: 2;
  margin-bottom: 25px;
}

.cursor {
  display: inline-block;
  width: 5px;
  height: 26px;
  margin-left: 4px;
  position: relative;
  bottom: -4px;
  background-color: var(--line-color);
  animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}

#terminalBtn {
  display: inline-block;
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
  text-decoration: none;
  transition: all 0.5s ease;
}

#terminalBtn.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#terminalBtn:active {
  transform: scale(0.9);
}