.home {
  position: relative;
}

.background-image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
}

.background-image-sharp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(0px at 50% 50%);
  transition: clip-path 0.1s ease-out;
}

#zoom-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.terminal {
  position: absolute;
  top: 200px;
  left: calc(50% - 300px);
  width: 600px;
  height: 250px;
  background-color: var(--background-color);
  border: 2px solid var(--line-color);
  color: var(--text-color);
  font-size: 1.125rem;
  white-space: pre-line;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  animation: growTerminal 1s ease-out forwards;
}

@keyframes growTerminal {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#terminalImg {
  width: 62px;
  height: 62px;
  margin: 10px 0;
  opacity: 0;
  overflow: hidden;
  transform: scale(0.8);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  perspective: 600px;
}

.terminalImg {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid var(--line-color);
  background-size: cover;
  background-position: center;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminalImg-front {
  background-image: url('../assets/images/avatar.webp');
}

.terminalImg-back {
  background-image: url('../assets/images/profile.webp');
  transform: rotateY(180deg);
}

#terminalImg:hover .terminalImg-front {
  transform: rotateY(180deg);
}

#terminalImg:hover .terminalImg-back {
  transform: rotateY(0deg);
}

#terminalImg:hover {
  cursor: pointer;
}

#terminalImg.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#text {
  display: inline-block;
  white-space: pre-line;
  line-height: 2;
}

.cursor {
  display: inline-block;
  width: 5px;
  height: 26px;
  margin-left: 4px;
  position: relative;
  bottom: -4px;
  background-color: var(--line-color);
  animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}

#terminalBtn {
  display: inline-block;
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
  text-decoration: none;
  transition: all 0.5s ease;
}

#terminalBtn.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#terminalBtn:active {
  transform: scale(0.9);
}