@import url("reset.css");
@import url("header.css");
@import url("sidebar.css");
@import url("home.css");
@import url("profile.css");
@import url("formation.css");
@import url("skills.css");
@import url("portfolio.css");
@import url("contact.css");
@import url("modal.css");
@import url("toast.css");
@import url("footer.css");

/* Styles généraux */
:root {
  --background-color: white;
  --background-color-opacity50: rgba(30, 30, 30, 0.5);
  --section-color: #F3F3F3;
  --text-color: #1E1E1E;
  --line-color: #1E1E1E;
  --link: #5D8191;

  --cv: #163853;
  --blue-light: #78A6BB;
  --blue-dark: #27548A;
  --yellow: #FBD000;
  --green: #25d366;
  --rubik: Rubik;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body.dark-mode {
  --background-color: #1E1E1E;
  --section-color: #393b40;
  --text-color: white;
  --line-color: white;
  --link: #78A6BB;
}

body {
  font-family: var(--rubik);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.colored-text {
  color: var(--link);
  font-weight: 800;
}

/* Boutons */
.btn {
  padding: 8px 15px;
  border: var(--line-color) 2px solid;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
}

.btn:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

/* Barre de défilement */
::-webkit-scrollbar {
  width: 5px;
  border-left: 2px solid var(--line-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--line-color);
}