.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-opacity50);
}

.modal-content {
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content--legal {
  background-color: var(--background-color);
  overflow: auto;
  padding: 0 20px 20px;
  border: var(--line-color) 2px solid;
  width: 80%;
  max-width: 500px;
  height: 75%;
  max-height: 600px;
  color: var(--text-color);
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal--image {
  background-color: var(--background-color-opacity50);
  z-index: 1000;
}

.modal-content--image {
  max-width: 90%;
  max-height: 80vh;
  display: block;
  margin: auto;
  border: 2px solid var(--line-color);
}

.modal-content img {
  width: 40px;
  height: auto;
  margin-top: 10px;
}

.modal-content h2 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin-top: 20px;
  border: 2px solid var(--line-color);
  padding: 4px;
}

.modal-content h3 {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px 0 5px 10px;
}

.modal-content a {
  color: var(--link);
}

.modal-content p {
  text-align: justify;
}

.close {
  color: var(--text-color);
  position: absolute;
  right: 15px;
  font-size: 2rem;
}

.close:active {
  transform: scale(0.9);
}

.modal-close--legal {
  top: 10px;
}

.modal-close--image {
  top: 65px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-line {
  width: 70%;
  height: 1px;
  border: 1px solid var(--line-color);
  margin-top: 30px;
}

.modal-btn {
  margin-top: 20px;
}