.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--section-color);
  padding: 80px;
}

.profile-card {
  width: 800px;
  border: 2px solid var(--line-color);
  background-color: var(--background-color);
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.profile-card.show {
  opacity: 1;
  transform: translateY(0);
}

.profile-id {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.profile-image-container {
  width: 200px;
  height: 200px;
  border: 3px solid var(--line-color);
  overflow: hidden;
  position: relative;
}

@keyframes fadeImages {

  0%,
  40% {
    opacity: 1;
  }

  50%,
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.profile-image-front,
.profile-image-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image-front {
  z-index: 2;
  opacity: 1;
  animation: fadeImages 5s infinite ease-in-out;
}

.profile-image-back {
  z-index: 1;
}

.profile-id-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-id-text img {
  width: 30px;
  height: 30px;
}

.profile-id-item {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-text p {
  line-height: 1.2;
  text-align: justify;
}

.profile-download-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-download-container p {
  text-align: center;
  line-height: 1.2;
}

.profile-line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-horizontal-line {
  width: 35%;
  height: 1.6px;
  background-color: var(--line-color);
}

.profile-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.profile-links img {
  width: 40px;
  height: 40px;
}

.profile-links a {
  position: relative;
}

.profile-tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 5px 3px 5px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 0.75rem;
  border: 2px solid var(--line-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.profile-links a:hover .profile-tooltip {
  opacity: 1;
  visibility: visible;
}

.profile-vertical-line {
  width: 2px;
  height: 350px;
  background-color: var(--line-color);
  margin: auto 0;
}

.cv-preview img {
  width: 300px;
  height: auto;
  border: 2px solid var(--line-color);
}