.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--section-color);
  padding: 50px 0;
  border-top: 2px solid var(--line-color);
}

.profile-title {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
  letter-spacing: 4px;
  border: 2px solid var(--line-color);
  background-color: var(--background-color);
  padding: 10px 40px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.profile-card {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--line-color);
  background-color: var(--background-color);
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.profile-title.show,
.profile-card.show {
  opacity: 1;
  transform: translateY(0);
}

.profile-id {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.profile-image-container {
  width: 200px;
  height: 200px;
  border: 3px solid var(--line-color);
  overflow: hidden;
  position: relative;
}

@keyframes fadeImages {

  0%,
  40% {
    opacity: 1;
  }

  50%,
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.profile-image-front,
.profile-image-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image-front {
  z-index: 2;
  opacity: 1;
  animation: fadeImages 5s infinite ease-in-out;
}

.profile-image-back {
  z-index: 1;
}

.profile-id-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profile-id-text img {
  width: 22px;
  height: 22px;
}

.profile-id-item {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-id-item a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.profile-id-item p {
  font-size: 0.75rem;
}

.profile-text p {
  line-height: 1.2;
  text-align: justify;
}

.profile-download-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-download-container p {
  text-align: center;
  line-height: 1.2;
}

.profile-line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-horizontal-line {
  width: 35%;
  height: 1.6px;
  background-color: var(--line-color);
}

.profile-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.profile-links img {
  width: 40px;
  height: 40px;
}

.profile-links a {
  position: relative;
}

.profile-tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 5px 3px 5px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 0.75rem;
  border: 2px solid var(--line-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.profile-links a:hover .profile-tooltip {
  opacity: 1;
  visibility: visible;
}

.profile-vertical-line {
  width: 2px;
  height: 350px;
  background-color: var(--line-color);
  margin: auto 0;
}

.cv-preview img {
  width: 300px;
  height: auto;
  border: 2px solid var(--line-color);
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 30px;
    gap: 20px;
  }

  .profile-card {
    padding: 40px;
    gap: 25px;
  }

  .profile-id-item {
    width: 100%;
  }

  .profile-id-item p {
    font-size: 0.6rem;
  }

  .profile-links {
    gap: 40px;
  }

  .cv-preview img {
    width: 250px;
  }

  .profile-download-container {
    width: 250px;
  }

  .profile-image-container {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .profile-title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 8px 15px;
  }

  .profile-card {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .profile-id-item p {
    font-size: 0.8rem;
  }

  .profile-id {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .profile-id-text {
    width: 50%;
  }

  .profile-vertical-line,
  .cv-preview {
    display: none;
  }

  .profile-links {
    gap: 30px;
    flex-wrap: wrap;
  }

  .profile-download-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

@media screen and (max-width: 510px) {
  .profile {
    padding: 20px 10px;
    gap: 10px;
  }

  .profile-title {
    font-size: 1.3rem;
  }

  .profile-image-container {
    width: 120px;
    height: 120px;
  }

  .profile-id-item {
    gap: 5px;
    text-align: center;
  }

  .profile-id-text img {
    width: 18px;
    height: 18px;
  }

  .profile-links img {
    width: 35px;
    height: 35px;
  }

  .profile-tooltip {
    font-size: 0.65rem;
  }

  .profile-card {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 440px) {
  .profile-id-item p {
    font-size: 0.6rem;
  }
}