.projects {
  background-color: var(--background-color);
  border-top: 2px solid var(--line-color);
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  max-width: 1200px;
  width: 100%;
}

.projects-title {
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
  letter-spacing: 4px;
  border: 2px solid var(--line-color);
  background-color: var(--section-color);
  padding: 10px 40px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.projects-title.show {
  opacity: 1;
  transform: translateY(0);
}

.projects-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.projects-thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1s ease-out;
}

.projects-thumbnail-container.show {
  opacity: 1;
  transform: translateX(0);
}

.projects-thumbnail {
  position: relative;
  transition: all 0.5s ease;
  transform: scale(0.8);
}

.projects-thumbnail-title {
  position: absolute;
  top: -12px;
  left: 0;
  width: 80px;
  height: 10px;
  background-color: var(--section-color);
  border: 2px solid var(--line-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.projects-thumbnail-body {
  width: 200px;
  aspect-ratio: 16 / 9;
  border: 2px solid var(--line-color);
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--section-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.projects-thumbnail-body p {
  letter-spacing: 2px;
}

.projects-thumbnail-body p:last-child {
  font-size: 0.8rem;
}

.projects-thumbnail-line {
  width: 40%;
  height: 1.5px;
  background-color: var(--line-color);
}

.projects-thumbnail:hover {
  transform: scale(1.2);
  font-weight: 450;
}

.projects-thumbnail.active {
  transform: scale(1.2);
  font-weight: 450;
}

.projects-focused {
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 1s ease-out;
}

.projects-focused.show {
  opacity: 1;
  transform: translateX(0);
}

.projects-focused-title {
  position: absolute;
  top: -42px;
  left: 0px;
  width: 320px;
  height: 40px;
  background-color: var(--section-color);
  border: 2px solid var(--line-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 450;
}

.projects-thumbnail-title::after,
.projects-focused-title::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--section-color);
  z-index: 2;
}

.projects-focused-body {
  width: 800px;
  aspect-ratio: 16 / 9;
  border: 2px solid var(--line-color);
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--section-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.projects-focused-images {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-focused-images img {
  width: 280px;
  object-fit: contain;
  border: 2px solid var(--line-color);
}

.projects-focused-images:hover img {
  cursor: pointer;
}

.projects-focused-details {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-details {
  height: calc(100% - 40px);
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.projects-details-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projects-details-title {
  font-size: 1.3rem;
  font-weight: 450;
  text-align: center;
  letter-spacing: 2px;
}

.projects-description-text {
  line-height: 1.2;
  text-align: justify;
}

.projects-techno {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects-techno-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
}

.projects-techno-text {
  display: flex;
  width: 450px;
}

.projects-techno-text p {
  margin-left: 10px;
}

.projects-techno-item img {
  width: 20px;
  height: 20px;
}

.projects-techno span {
  text-decoration: underline;
}

.projects-techno-item a {
  text-decoration: none;
  color: inherit;
  height: 20px;
}

.projects-link {
  display: flex;
  justify-content: center;
  position: relative;
}

.projects-link a {
  text-decoration: none;
  position: relative;
}

.projects-link:hover a {
  cursor: pointer;
}

.projects-inner {
  position: relative;
}

.projects-tooltip {
  position: absolute;
  top: 50%;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 5px 3px 5px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 0.75rem;
  border: 2px solid var(--line-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 10;
}

.code-tooltip {
  right: 30px;
  padding: 0 5px;
  transform: translateY(-15px);
}

.visit-tooltip {
  left: 65px;
  transform: translateY(-50%);
}

.projects-inner:hover .projects-tooltip {
  opacity: 1;
  visibility: visible;
}

.projects-link img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.projects-link img:hover {
  transform: scale(1.2);
}

.projects-click-message {
  transform: translateX(-5px);
  font-size: 2.5rem;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1200px) {
  .projects-container {
    gap: 30px;
  }

  .projects-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  .projects-thumbnail-container {
    flex-direction: row;
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    padding: 30px;
  }

  .projects-wrapper {
    gap: 50px;
  }

  .projects-thumbnail-title {
    top: -10px;
    width: 60px;
    height: 7.5px;
    font-size: 0.4rem;
  }

  .projects-thumbnail-body p {
    letter-spacing: 1px;
    font-size: 0.8rem;
  }

  .projects-thumbnail-body {
    width: 150px;
  }

  .projects-focused-title {
    top: -32px;
    left: 0px;
    width: 240px;
    height: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .projects-focused-body {
    width: 600px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    gap: 15px;
    padding: 15px;
  }

  .projects-focused-images img {
    width: 210px;
  }

  .projects-details {
    height: calc(100% - 10px);
    width: 340px;
    padding: 0;
  }

  .projects-details-item {
    gap: 8px;
  }

  .projects-details-title {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .projects-description-text {
    line-height: 1;
  }

  .projects-techno {
    gap: 4px;
  }

  .projects-techno-item {
    line-height: 15px;
  }

  .projects-techno-text {
    width: 340px;
  }

  .projects-techno-text p {
    margin-left: 7px;
  }

  .projects-techno-item img {
    width: 15px;
    height: 15px;
  }

  .projects-techno-item a {
    height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .projects-container {
    gap: 25px;
  }

  .projects-title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 8px 15px;
  }

  .projects-wrapper {
    gap: 45px;
  }
}

@media screen and (max-width: 720px) {
  .projects-wrapper {
    gap: 40px;
  }

  .projects-thumbnail-title {
    top: -8px;
    width: 40px;
    height: 5px;
    font-size: 0.3rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .projects-thumbnail-body p {
    letter-spacing: 1px;
    font-size: 0.6rem;

    &:last-child {
      font-size: 0.5rem;
    }
  }

  .projects-thumbnail-body {
    width: 100px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .projects-focused-title {
    top: -24px;
    left: 0px;
    width: 160px;
    height: 22.5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .projects-focused-body {
    width: 400px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    gap: 10px;
    padding: 10px;
  }

  .projects-focused-images img {
    width: 135px;
  }

  .projects-details {
    height: 100%;
    width: 250px;
  }

  .projects-details-item {
    gap: 2px;
  }

  .projects-details-title {
    font-size: 0.8rem;
    letter-spacing: 0px;
  }

  .projects-techno {
    gap: 2px;
  }

  .projects-techno-item {
    line-height: 15px;
  }

  .projects-techno-text {
    width: 340px;
  }

  .projects-techno-text p {
    margin-left: 5px;
  }

  .projects-techno-item img {
    width: 10px;
    height: 10px;
  }

  .projects-techno-item a {
    height: 10px;
  }

  .projects-focused-details {
    font-size: 0.7rem;
  }

  .projects-link img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 510px) {
  .projects {
    padding: 20px 10px 0;
    gap: 10px;
  }

  .projects-title {
    font-size: 1.3rem;
  }

  .projects-wrapper {
    gap: 10px;
  }

  .projects-thumbnail-container {
    gap: 5px;
  }

  .projects-focused-title,
  .projects-focused-body {
    transform: scale(0.8);
  }

  .projects-focused-title {
    top: 3px;
    left: 26px;
    z-index: 15;
  }
}