.sidebar {
  position: fixed;
  border: var(--line-color) 1px solid;
  border-left: none;
  top: calc(50% - 200px);
  left: -70px;
  width: 60px;
  padding: 10px 0 15px 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 9;
  transition: left 0.4s ease-in-out;
}

.sidebar.show {
  left: 0;
}

.sidebar a {
  min-height: 40px;
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar img {
  width: 40px;
  height: 40px;
}

.sidebar-tooltip {
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 12px;
  border: 1px solid var(--line-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar a:hover .sidebar-tooltip {
  opacity: 1;
  visibility: visible;
}

.sidebar-indicator {
  position: absolute;
  bottom: -8px;
  left: 1px;
  width: 0;
  height: 2px;
  background-color: var(--line-color);
  transition: width 0.3s ease;
}

.sidebar a.active .sidebar-indicator {
  width: 95%;
}

#home-logo {
  transform: translateY(5px);
}