/* Styles généraux */
:root {
  --background-color: #163853;
  --roboto: Roboto;
}

body {
  font-family: var(--roboto);
}

/* Composants */

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
  background-color: var(--background-color);
  color: white;
  border: 1px solid black;
}

.nav-container {
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  /* border: 1px solid white; */
}

.logo {
  height: 40px;
  display: block;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

.option-container {
  border: 1px solid white;
}