/* Styles généraux */

/* Composants */

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #163853;
  color: white;
  border: 1px solid black;
}

.nav-container {}

.nav-menu {
  display: flex;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.option-container {
  border: 1px solid white;
}